.flex {
  display: flex;
  width: 350px;
  margin: auto;
  height: 300px;
  /* height: 600px; */
  border: 3px solid black;
  box-sizing: border-box;
  /* flex-direction: row; */
  /* align-self: stretch; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
}

.inline {
  /* display: flex; */
  align-self: stretch;
}

.satu {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  /* align-self: stretch; */
}

.satu1 {
  background-color: aqua;
  /* order: 5; */
  /* align-self: flex-end; */
}
.satu2 {
  background-color: blue;
  /* order: 3; */
}
.satu3 {
  background-color: blueviolet;
  /* order: 6; */
  /* flex-grow: 1; */
}
.satu4 {
  background-color: brown;
  /* order: -1; */
}
.satu5 {
  /* order: 2; */
  background-color: chartreuse;
}
