@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

:root {
  --warna-nav: #222831;
  --warna-bg: #fdbe33;
  --warna-heading: #4a4c70;
  --warna-text: #393e46;
  --warna-putih: #eeeeee;
  --warna-biru: #00adb5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  overflow-x: hidden;
}

.btn {
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 99px;
  font-weight: bold;
  border: 3px solid var(--warna-nav);
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--warna-nav);
  color: var(--warna-putih);
  border: 3px solid transparent;
}

img {
  width: 100%;
}
/* header */
header {
  width: 100%;
  display: flex;
  height: 62px;
  background-color: var(--warna-nav);
  align-items: center;
  padding-inline: 100px;
  box-shadow: 0 2px 5px black;
  position: fixed;
}

.logo {
  text-transform: uppercase;
  color: var(--warna-biru);
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  font-size: 2rem;
}

nav {
  /* position: fixed; */
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
}

nav .nav-items ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

nav .nav-items ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--warna-putih);
  padding-block: 5px;
  padding-inline: 20px;
  border-radius: 99px;
  transition: 0.5s all ease-out;
}

nav .nav-items ul li:hover a {
  background-color: var(--warna-putih);
  color: var(--warna-nav);
}
/* akhir header */

/* main */
main {
  width: 100%;
}

#hero {
  height: 100vh;
  margin-inline: auto;
  width: 80%;
  padding-inline: 3rem;
  width: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--warna-biru);
}

.article-hero {
  width: 50%;
}

.article-hero > .button-article {
  margin-top: 30px;
}

.article-hero h2 {
  line-height: 46px;
  font-size: 2.1rem;
}

.hero-image {
  width: 400px;
  border-radius: 100%;
  overflow: hidden;
}
/* akhir hero */

/* tentang saya */
.container-content {
  width: 100%;
  margin-bottom: 46px;
}
.container-content > h2 {
  margin-top: 3rem;
}
.tentang-saya {
  padding-inline: 48px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.img-tentang {
  width: 50%;
}
.text-group-tentang {
  width: 45%;
  box-shadow: 1px 2px 5px var(--warna-nav);
  padding: 15px;
}

article.text-group-tentang {
  font-size: 1.1rem;
  text-align: justify;
}

.mb {
  margin-bottom: 3rem;
}
.text-center {
  text-align: center;
}
/* akhir tentang saya */

/* astronot */
.container-astronot {
  padding-inline: 48px;
  background-color: var(--warna-nav);
  color: var(--warna-putih);
  padding-bottom: 50px;
}

.container-astronot h2 {
  text-align: center;
  padding-block: 50px;
}

.article-astronot {
  overflow: auto;
  text-align: justify;
}
.img-astronot img {
  float: left;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.img-astronot2 img {
  float: right;
  width: 400px;
  margin-left: 20px;
  margin-bottom: 20px;
}
/* akhir astronot */

/* footer */
footer {
  width: 100%;
  height: 50px;
  background-color: var(--warna-biru);
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

footer p > span {
  color: var(--warna-putih);
  font-style: italic;
}
/* reponsive */
@media screen and (max-width: 576px) {
  #hero {
    gap: 0;
  }
  #hero .article-hero .hero-image {
    order: -1;
  }

  .article-hero h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .article-hero {
    align-items: center;
    width: 100%;
    text-align: justify;
    margin-top: -70px;
  }

  .nav-items {
    display: none;
  }
  header .logo {
    font-size: 1.5rem;
  }
  .hero-image {
    width: 100%;
    margin-top: 62px;
  }

  .button-article {
    text-align: center;
  }

  .img-tentang {
    width: 100%;
  }

  .text-group-tentang {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .tentang-saya .img-tentang {
    width: 100%;
  }

  #hero .hero-image {
    order: -1;
  }

  .article-hero h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .article-hero {
    justify-content: center;
    width: 100%;
    text-align: justify;
    margin-top: -70px;
    /* display: none; */
  }

  .nav-items {
    display: none;
  }
  #hero {
    justify-content: center;
  }

  .text-group-tentang {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container-astronot img {
    float: none;
  }

  .img-astronot,
  .img-astronot2 {
    text-align: center;
    margin: 0;
  }
}
